html {
  box-sizing: border-box;
  font-size: var(--fontSizeRoot);
}

body {
  display: flex;
  font-family: var(--fontFamily);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}
