:root {
  /* ---------------------------------- */
  /*               Colors               */
  /* ---------------------------------- */

  /* -------------- Reset ------------- */
  --background: #d4d4e6;

  /* -------------- Basic ------------- */
  --white: #fff;

  /* ------------- Primary ------------ */
  --primaryDarker: #e7e7f0;
  --primaryLighter: #000ba3;
  --primaryLightest: #7144ee;

  /* ---------------------------------- */
  /*                Fonts               */
  /* ---------------------------------- */

  /* ------------- Family ------------- */
  --fontFamily: "Lato", sans-serif;

  /* -------------- Sizes ------------- */
  --fontSizeRoot: 16px;

  /* ------------- Weights ------------ */
  --fontWeightBold: 700;
}
